::-webkit-scrollbar {
  display: none; }

@font-face {
  font-family: "AvertaStd-Bold" !important;
  src: url("/fonts/447315c0c330fd423c8e1cc18024669d.eot");
  src: url("/fonts/447315c0c330fd423c8e1cc18024669d.woff") format("woff"), url("/fonts/447315c0c330fd423c8e1cc18024669d.ttf") format("opentype"); }

body {
  position: relative;
  background-image: url("/img/dot-grid.png");
  background-blend-mode: luminosity;
  background-position: center;
  background-color: #00db53;
  color: #000 !important;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body span {
    color: #00db53; }

.section {
  height: 100vh;
  position: relative; }

.status {
  height: 0%;
  width: 5px;
  background-color: #00db53;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

#two .wrapper {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7); }

#two .iphone {
  overflow: hidden;
  --iphone-width: 300px;
  border-left: 10px solid #444;
  border-radius: 25px;
  background-color: #000;
  width: var(--iphone-width);
  height: 500px;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -150px;
  -webkit-transform: rotateX(40deg) rotateY(30deg) rotateZ(-40deg) perspective(200px);
  transform: rotateX(40deg) rotateY(30deg) rotateZ(-40deg) perspective(200px);
  -webkit-box-shadow: -50px -20px 10px 10px rgba(26, 26, 26, 0.2);
  box-shadow: -50px -20px 10px 10px rgba(26, 26, 26, 0.2);
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  #two .iphone .polygon-shine {
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(50% 0%, 100% 100%, 100% 0);
    clip-path: polygon(50% 0%, 100% 100%, 100% 0);
    background: rgba(255, 255, 255, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.7)));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.7) 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.7) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.7) 100%);
    /* Safari 5.1-6.0 */
    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.7) 100%);
    /* Opera 11.1-12.0 */
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.7) 100%);
    /* Firefox 3.6-15 */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.7) 100%);
    /* Standard syntax */
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    opacity: 1; }

#two .top {
  border-left: 15px solid #bbb;
  position: absolute;
  left: -10px;
  width: calc(100% + 15px);
  height: 30px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50px 50px 100% 100%;
  background: #fff;
  background: -webkit-linear-gradient(left, #ccc, #fff);
  background: -o-linear-gradient(left, #ccc, #fff);
  background: -webkit-gradient(linear, left top, right top, from(#ccc), to(#fff));
  background: linear-gradient(to right, #ccc, #fff);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

#two .bottom {
  border-bottom: 10px solid #ddd;
  border-left: 15px solid #bbb;
  width: calc(100% + 15px);
  height: 40px;
  position: absolute;
  bottom: 0;
  left: -15px;
  background: #fff;
  border-radius: 100% 100% 50px 50px;
  background: #fff;
  background: -webkit-linear-gradient(left, #ccc, #fff);
  background: -o-linear-gradient(left, #ccc, #fff);
  background: -webkit-gradient(linear, left top, right top, from(#ccc), to(#fff));
  background: linear-gradient(to right, #ccc, #fff);
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

#two .wrapper:hover > .iphone {
  -webkit-transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg) perspective(0px);
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg) perspective(0px);
  -webkit-box-shadow: 0px 0px 50px rgba(26, 26, 26, 0.5);
  box-shadow: 0px 0px 50px rgba(26, 26, 26, 0.5);
  border-left: 0px solid #bbb; }

#two .wrapper:hover .polygon-shine {
  opacity: 0;
  width: 0;
  height: 0; }

#two .wrapper:hover .top {
  border-left: 0px solid #bbb;
  left: 0px;
  width: 100%; }

#two .wrapper:hover .bottom {
  border-left: 1px solid #bbb;
  left: 0px;
  border-bottom: 2px solid #ddd;
  width: 100%; }

#two .circle {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 6px auto;
  text-align: center; }

#two .text {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: all 1s 0.6s ease-in-out;
  -o-transition: all 1s 0.6s ease-in-out;
  transition: all 1s 0.6s ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  -o-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1); }

#two .wrapper:hover .text {
  opacity: 1; }

#two .text i {
  margin-right: 20px; }

#two .speaker {
  width: 100px;
  height: 1px;
  border: 1px solid rgba(26, 26, 26, 0.2);
  margin: 0 auto;
  background-color: rgba(26, 26, 26, 0.1); }

#two .content {
  width: 100%;
  height: 100%;
  padding: 30px 5px; }
  #two .content object {
    width: 100%;
    height: 100%; }

#two .main {
  position: relative; }
  #two .main i {
    font-size: 100px;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -39px;
    color: white;
    opacity: 0;
    -webkit-transition: all 1.2s 1s ease-in-out;
    -o-transition: all 1.2s 1s ease-in-out;
    transition: all 1.2s 1s ease-in-out; }

#two .wrapper:hover .main > i {
  opacity: 1; }

#two .camera {
  width: 5px;
  height: 5px;
  border: 1px solid rgba(26, 26, 26, 0.2);
  margin: 5px auto;
  background-color: rgba(26, 26, 26, 0.3);
  border-radius: 50%; }

#two .rwd {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 2em; }
  #two .rwd span {
    color: #fff;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #222;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  #two .rwd span:hover {
    background: #00db53; }

.info {
  width: 100vw;
  height: 40px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #fff; }
  .info .info-wrapper {
    position: relative;
    width: 300px;
    height: 40px;
    line-height: 40px; }
    .info .info-wrapper .info-title {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 100%;
      background: #00db53; }
    .info .info-wrapper .info-black {
      background: #222;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      top: 10px;
      left: 10px; }
